body ul {
    list-style: none;

}

table{
    position: absolute;
    
}

th{
    position: relative;
    width: 5%;
    margin: 3%;
    padding: 3%;
    margin-right: 1%;
    color: chartreuse;
}

td{
    position: relative;
    width: 5%;
    margin: 3%;
    padding: 3%;
    margin-right: 1%;
    color: darkcyan;
}


.months{
    display: inline;
}

.weekdays{
    display: inline;
    
}


#prev{
    display: inline;
    margin: 5px;
    padding: 70px 25px;
}

#next{
    display: inline;
    margin: 10px;
    padding: 20px 20px;
}

#current{
    display: inline-block;
    margin: 10px;
    padding: 20px 20px;
}



